@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap");
:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950: hsl(0, 0%, 7%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Figtree";
  font-size: 16px;
  height: 100vh;
  background-color: var(--Yellow);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  background-color: var(--White);
  padding: 1.2rem;
  width: 384px;
  height: 522px;
  border: 1px solid black;
  border-radius: 1.2rem;
  box-shadow: 8px 8px 0 0 black;
}
section div img {
  border-radius: 1rem;
  width: 100%;
}
section div div h4 {
  background-color: var(--Yellow);
  font-size: 14px;
  font-weight: 800;
  width: 90px;
  padding: 0.4rem 0.4rem 0.4rem 0.7rem;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
section div h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
section div a {
  text-decoration: none;
  color: black;
}
#preview-publish {
  font-size: 14px;
  font-weight: 500;
}
#preview-text {
  color: var(--Gray-500);
}
.profile {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
.profile img {
  width: 35px;
  margin-right: 15px;
}
.profile p {
  font-weight: 800;
}
.attribution {
  font-size: 11px;
  margin-top: 1rem;
}
.attribution a {
  color: black;
  text-decoration: none;
}

@media (max-width: 480px) {
  section {
    width: 327px;
    height: 501px;
  }
}
